.OurTeam{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 64px 0;

    h1{
        font-size: 3.5rem;                
        background: var(--mainColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ul{
        width: fit-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
}


@media screen and (max-width: 480px){
    .OurTeam .doctorCard{
        width: 100%;
        max-width: 360px;
    }
}