* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
}

.main {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & main {
        width: 100%;
        max-width: 1300px;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

/* customize scroll bar */
::-webkit-scrollbar{
    display: none;
}

.colors{
    --mainColor: #6bd0bf;
    --hoverColor: #47c1ad;
    --secondaryColor: #31e0ff;
    --backgroundGradientColor1: #C9D6FF;
    --backgroundGradientColor2: #E2E2E2;
    --black: black;
    --lightBlack: rgb(66, 66, 66);
    --grey: grey;
    --lightGrey: rgb(146, 146, 146);
    --white: white;
    --darkWhite: #e9e9e9;
    --lightBorderColor: rgba(0, 0, 0, 0.201);
    --mediumBorderColor: rgba(52, 52, 52, 0.44);
    --darkBorderColor: rgba(0, 0, 0, 0.419);
    --orange: orange;
    --red: red;
    --headerHeight: 160px;
    --mobileHeaderHeight: 54px;
}